<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.charles.sharesdk.dingtalk">
    <application>
        <activity-alias
            android:name="${applicationId}.ddshare.DDShareActivity"
            android:exported="true"
            android:targetActivity=".DingTalkCallBackActivity" />
        <activity
            android:name=".DingTalkCallBackActivity"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>