<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.charles.sharesdk.wechat">

    <application>
        <activity-alias
            android:name="${applicationId}.wxapi.WXEntryActivity"
            android:exported="true"
            android:targetActivity=".WeChatCallbackActivity" />
        <activity
            android:name=".WeChatCallbackActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>
</manifest>